{% load static %}
{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en" class="min-h-full">

<head>
  <title>{% block title %}KinoQuizAI{% endblock %}</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  {% tailwind_css %}
</head>

<link rel="apple-touch-icon" sizes="180x180" href="{% static 'icons/apple-touch-icon.png' %}">
<link rel="icon" type="image/png" sizes="32x32" href="{% static 'icons/favicon-32x32.png' %}">
<link rel="manifest" href="{% static 'icons/site.webmanifest' %}">

<body class="bg-base-bg bg-image bg-cover bg-bottom">

{% block nav %}
  {% include 'navigation.html' %}
{% endblock %}

{% block body %}
{% endblock %}

</body>

{% block script %}
{% endblock %}

</html>