{% load static %}
{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en" class="bg-base-bg" style="-moz-text-size-adjust: none; -webkit-text-size-adjust: none; text-size-adjust: none;">

<head>
  <title>{% block title %}KinoQuizAI{% endblock %}</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, minimal-ui, viewport-fit=cover, initial-scale=1.0">
  <meta name="theme-color" content="#061012">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  {% tailwind_css %}
  <script>
    let vh = window.innerHeight * 0.01;
    document.documentElement.style.setProperty('--vh', `${vh}px`);
  </script>
  <style>
    body {
      padding-left: env(safe-area-inset-left);
      padding-right: env(safe-area-inset-right);
    }
    #home-container {
      min-height: calc(var(--vh, 1vh) * 100 - 8rem);
    }
    .min-safe-h-screen {
      min-height: calc(var(--vh, 1vh) * 100);
    }
  </style>
  <link rel="canonical" href="https://kinoquiz.app/">
  <meta property="og:site_name" content="KinoQuizAI">
  <meta property="og:type" content="website">
  <meta property="og:title" content="KinoQuizAI">
  <meta property="og:description" content="KinoQuizAI is an ChatGPT powered movie quiz game that lets you compete with others while testing your movie knowledge.">
  <meta property="og:url" content="https://kinoquiz.app/">
  <meta property="og:image" content="{% static 'img/og_image.jpg' %}">
  <!-- Google tag (gtag.js) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-JC6ZM5P5C3"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'G-JC6ZM5P5C3');
  </script>
</head>

<link rel="apple-touch-icon" sizes="180x180" href="{% static 'icons/apple-touch-icon.png' %}">
<link rel="icon" type="image/png" sizes="32x32" href="{% static 'icons/favicon-32x32.png' %}">
<link rel="manifest" href="{% static 'icons/site.webmanifest' %}">

<body class="bg-base-bg bg-image bg-cover bg-bottom min-safe-h-screen">

{% block nav %}
  {% include 'navigation.html' %}
{% endblock %}

{% block body %}
{% endblock %}

</body>

{% block script %}
{% endblock %}

</html>