{% extends 'base.html' %}
{% load static %}

{% block title %}Login - KinoQuizAI{% endblock %}

{% block body %}
  <div id="login-container" class="flex items-center justify-center py-8 sm:py-12 px-6">

    <div class="max-w-lg space-y-4">
      {% if message %}
        <div class="bg-rose-100 px-3 py-4 border-2 border-rose-500 drop-shadow-lg rounded-lg">
          <p class="text-center text-sm text-rose-600">
            {{ message }}
          </p>
        </div>
      {% endif %}

      <div class="bg-neutral-100 px-6 py-8 sm:px-9 sm:py-12 drop-shadow-lg rounded-lg">
        <h2 class="text-center text-2xl sm:text-3xl font-bold tracking-tight text-gray-900">
          Log in to account
        </h2>
        <form class="mt-4 sm:mt-8 space-y-6 text-center" method="post" action="{% url 'kinoquizai:login' %}">
          {% csrf_token %}
          <div class="-space-y-px rounded-md drop-shadow-sm">
            <label class="sr-only" for="username">Username</label>
            <input autofocus class="relative block w-full rounded-t-md border-0 py-2.5 text-gray-900 ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:z-10 focus:ring-2 focus:ring-inset focus:ring-blue-600 sm:leading-6" type="text" id="username" name="username" placeholder="Username" maxlength="16" autocomplete="off">
            <label class="sr-only" for="password">Password</label>
            <input class="relative block w-full rounded-b-md border-0 py-2.5 text-gray-900 ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:z-10 focus:ring-2 focus:ring-inset focus:ring-blue-600 sm:leading-6" type="password" id="password" name="password" placeholder="Password" autocomplete="off">
            {% if next %}<input type="hidden" name="next" value="{{ next }}">{% endif %}
          </div>
          <button type="submit" class="group relative flex w-full justify-center rounded-md py-2.5 px-3 font-bold text-white bg-gradient-to-r from-teal-500 to-blue-500 hover:scale-105 focus:scale-105 drop-shadow-sm ease-in-out duration-300">Log in</button>
          <p>Don't have an account? <a href="{% url 'kinoquizai:register' %}" class="inline-block text-blue-500 hover:text-blue-400 focus:text-blue-400">Register here.</a></p>
        </form>
      </div>

    </div>

{% endblock %}